[submodule "ceci-hardware"]
	path = ceci-hardware
	url = git@github.com:broken-giobbe/ceci-hardware.git
[submodule "ceci-firmware/lib/qd_sched"]
	path = ceci-firmware/lib/qd_sched
	url = git@github.com:electricant/qd_sched.git
